# ==============================================
# GLOBAL CONFIG
# ==============================================
JWT_SECRET=supersecretkeyjwtpilihanyangpanjangdanaman
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# ==============================================
# DATABASE CONFIG
# ==============================================
DB_HOST=mysql
DB_PORT=3306
DB_NAME=smartcity
DB_ROOT_PASSWORD=rootpass
DB_USER=smartcity_user
DB_PASSWORD=smartcity_pass

# ==============================================
# OAUTH SERVER CONFIG
# ==============================================
OAUTH_SERVER_URL=http://oauth-server:3002
OAUTH_CLIENT_ID=smartcity-app
OAUTH_CLIENT_SECRET=smartcity-secret

# ==============================================
# UPSTREAM SERVICES URL (untuk API Gateway)
# ==============================================
CITIZEN_SERVICE_URL=http://citizen-service:8000
TRAFFIC_SERVICE_URL=http://traffic-service:8001
ENV_SERVICE_URL=http://env-service:8002
PYTHON_ML_URL=http://python-ml:5000

# ==============================================
# GATEWAY CONFIG
# ==============================================
GATEWAY_PORT=3000
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
AUTH_RATE_LIMIT_WINDOW_MS=3600000
AUTH_RATE_LIMIT_MAX=500

# ==============================================
# MESSAGE BROKER CONFIG
# ==============================================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883