# GLOBAL CONFIG
JWT_SECRET=supersecretkeyjwtpilihanyangpanjangdanaman
DB_ROOT_PASSWORD=rootpass
DB_NAME=smartcity

# UPSTREAM SERVICES URL FOR API GATEWAY
CITIZEN_SERVICE_URL=http://citizen-service:8000
TRAFFIC_SERVICE_URL=http://traffic-service:8001
ENV_SERVICE_URL=http://env-service:8002
PYTHON_ML_URL=http://python-ml:5000

# MESSAGE BROKER CONFIG
RABBITMQ_HOST=rabbitmq
MQTT_BROKER_HOST=mosquitto