APP_NAME=TrashTrackBackend
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://103.147.92.134:8000
ML_SERVICE_URL=http://python-ml:5000

# Database — di server pakai nama container Docker
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=smartcity
DB_USERNAME=root
DB_PASSWORD=rootpass

# RabbitMQ — di server pakai nama container Docker
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Cache — pakai file bukan database supaya ga butuh tabel cache
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

# Storage
FILESYSTEM_DISK=public