# JWT
JWT_SECRET=bebasbebasbebasbebasbebasbebas
JWT_EXPIRES_IN=1h

# Gateway Port
GATEWAY_PORT=3000

# OAuth Server 
OAUTH_SERVER_URL=http://localhost:3002

# Upstream Service URLs
# Lokal (development):
CITIZEN_SERVICE_URL=http://localhost:8000
TRAFFIC_SERVICE_URL=http://localhost:8001
ENV_SERVICE_URL=http://localhost:8002
PYTHON_ML_URL=http://localhost:5000

# Docker Compose (ubah ke nama service):
# CITIZEN_SERVICE_URL=http://citizen-service:8000
# TRAFFIC_SERVICE_URL=http://traffic-service:8001
# ENV_SERVICE_URL=http://env-service:8002
# PYTHON_ML_URL=http://python-ml:5000